<h3>Merchant Invoices show</h3>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Date Created: <%= @invoice.date_format %></p>
<p>Total revenue: <%= number_to_currency(@invoice.total_revenue) %></p>
<p>Total Revenue after Discounts(if applicable): <%= number_to_currency(@invoice.total_revenue_after_discounts) %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<section id="item_status">
<p>Items on the invoice: <% @invoice.invoice_items.each do |invoice_item|%></p>
  <% if invoice_item.applicable_discount != nil %>
  <%= link_to "Discount Show Page", bulk_discount_path(invoice_item.applicable_discount) %></p>
  <% end %>
  <p>Name: <%= invoice_item.item.name %></p>
  <p>Quantity sold: <%= invoice_item.quantity %></p>
  <p>Price sold: <%= number_to_currency(invoice_item.item.price_total) %>
  <p>Status Form:  <%= form_with(url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true) do |form| %>
                 <% if invoice_item.item.status == "disabled" %>
                  <%= form.select :status, ["Enabled", "Disabled"], selected: "Disabled"%>
                 <% elsif invoice_item.item.status == "enabled"%>
                  <%= form.select :status, ["Enabled", "Disabled"], selected: "Enabled"%>
                 <% end %>
              <%= form.hidden_field :item_id, value: invoice_item.item.id%>
              <%= form.submit "Update Item Status"%>
              <% end %>
</section>
  <%# <p>Status: <% if item.shipping_status == 2 %>
                <%# Shipped</P> %>
              <%# <% elsif item.shipping_status == 1%> 
                <%# Packaged</p> %>
                <%# <% else %> 
                <%# Pending</p> %>
             <%# <% end %> 
  <%# <br>  %>
<%end%>


